:root {
  --hand-color: #f2c28e;
  --hand-border-color: #a67c52;
  --hand-shake-animation-duration: 2s;
  --primary-color: #009AEA;
  --secondary-color: #E402BC;
  --helper-color: #F38686;
  --win-color: #4CAF50;
  --lose-color: #F44336;
  --draw-color: #FFC107;
}
